html {
  box-sizing: border-box;
  font-family: "Exo", Verdana, sans-serif;
}

*, *:before, *:after {
  box-sizing: inherit;
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

body {
   font-size: 10px;
    font-size: 1rem;
    max-width: 1280px;
    margin: 0 auto;
}





