/* #Variables
================================================= */
// Colores
$azul: #005ead;
$gris-oscuro: #333;
$rojo: #ff1100;
$blanco: #fff;

// Tipografías
$exo: "Exo", Verdana, sans-serif;
$serif: Georgia, 'Times New Roman', serif;

// Grid sizes
$grid-context: 960px;
$grid-sidebar: 300px;
$grid-main-content: 600px;