.date {
  color: $azul;
  font-family: $sans;
  &:hover {
    color: $rojo;
  }
  &:after {
    // triangulo de css
    content: '>';
  }
  &.larger {
    font-size: 20px;
  }
  .article-type-news & {
    font-family: $serif;
  }
}

.related-content-block {
  @extend %white-background-gray-border;
  a {
    @extend %button-globals;
  }
}